@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



.search-bar{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 20px;
}

.checkbox-wrapper{
  margin: 10px auto;
}
.checkbox-wrapper input[type="checkbox"]{
  width: 16px;
  height: 16px;
  margin-right: 4px;
}


/* CSS RESET */
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  background-color: #E4E4E7;

}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}